<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string>rqxianshi = &apos;是&apos;</string>
	<string>xqxianshi = &apos;是&apos;</string>
	<string>yfxianshi = &apos;是&apos;</string>
	<string>nianli = &apos;是&apos;</string>
	<string>darili = &apos;是&apos;</string>
	<string>wannianli = &apos;是&apos;</string>
	<string>yuexiang = &apos;是&apos;</string>
	<string>shijieshi = &apos;是&apos;</string>
	<string>jishi = &apos;是&apos;</string>
	<string>dlcbxianshi = &apos;是&apos;</string>
	<string>cdongli = &apos;是&apos;</string>
	<string>feifan = &apos;是&apos;</string>
	<string>nitiao = &apos;是&apos;</string>
	<string>fangci = &apos;是&apos;</string>
	<string>tuofeilun = &apos;是&apos;</string>
	<string>qiya = &apos;是&apos;</string>
	<string>haiba = &apos;是&apos;</string>
	<string>shidu =  &apos;是&apos;</string>
	<string>loukong = &apos;是&apos;</string>
	<string>naobiao =  &apos;是&apos;</string>
	<string>cesu = &apos;是&apos;</string>
	<string>yeguang = &apos;是&apos;</string>
	<string>fangshui = &apos;是&apos;</string>
	<string>qita = &apos;是&apos;</string>
</array>
</plist>
