<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>不限</string>
	<string>36mm以下</string>
	<string>36-39mm</string>
	<string>39-42mm</string>
	<string>42-45mm</string>
	<string>45mm及以上</string>
</array>
</plist>
