<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>不限</string>
	<string>百达翡丽</string>
	<string>朗格</string>
	<string>江诗丹顿</string>
	<string>积家</string>
	<string>宝珀</string>
	<string>卡地亚</string>
	<string>阿玛尼</string>
	<string>爱彼</string>
	<string>百年灵</string>
	<string>柏莱士</string>
	<string>宝格丽</string>
	<string>宝玑</string>
	<string>宝曼</string>
	<string>宝诗龙</string>
	<string>北京</string>
	<string>波尔</string>
	<string>博百利</string>
	<string>名士</string>
	<string>CK</string>
	<string>宝齐莱</string>
	<string>绰美</string>
	<string>卡地亚</string>
	<string>卡西欧</string>
	<string>昆仑</string>
	<string>瑞宝</string>
	<string>西铁城</string>
	<string>香奈儿</string>
	<string>萧邦</string>
	<string>雪铁纳</string>
	<string>迪奥</string>
	<string>时度</string>
	<string>ETA</string>
	<string>艾米龙</string>
	<string>依波路</string>
	<string>弗兰克·穆勒</string>
	<string>飞亚达</string>
	<string>康斯登</string>
	<string>高珀富斯</string>
	<string>格拉苏蒂</string>
	<string>古驰</string>
	<string>芝柏</string>
	<string>爱马仕</string>
	<string>汉密尔顿</string>
	<string>亨利慕时</string>
	<string>宇舶</string>
	<string>万国</string>
	<string>尚维沙</string>
	<string>雅克德罗</string>
	<string>尊皇</string>
	<string>LV</string>
	<string>浪琴</string>
	<string>艾美</string>
	<string>美度</string>
	<string>摩凡陀</string>
	<string>魔纹</string>
	<string>万宝龙</string>
	<string>NOMOS</string>
	<string>东方双狮</string>
	<string>豪利时</string>
	<string>欧米茄</string>
	<string>伯爵</string>
	<string>帕玛强尼</string>
	<string>沛纳海</string>
	<string>劳力士</string>
	<string>雷达</string>
	<string>雷蒙威</string>
	<string>理查德·米勒</string>
	<string>罗杰·杜彼</string>
	<string>瑞士朗达</string>
	<string>Sellita</string>
	<string>海鸥手表</string>
	<string>豪门世家</string>
	<string>精工</string>
	<string>施华洛世奇</string>
	<string>帝舵</string>
	<string>豪雅</string>
	<string>梅花</string>
	<string>天梭</string>
	<string>雅典</string>
	<string>梵克雅宝</string>
	<string>真力时</string>
</array>
</plist>
