<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>不限</string>
	<string>精钢</string>
	<string>18k黄金</string>
	<string>玫瑰金</string>
	<string>PVD镀金</string>
	<string>白金</string>
	<string>铂金</string>
	<string>钛合金</string>
	<string>陶瓷</string>
</array>
</plist>
