<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>格拉苏蒂</string>
		<key>desc</key>
		<string>自动机械，不锈钢，40mm</string>
		<key>image</key>
		<string>watchicon001.png</string>
		<key>price</key>
		<string>988.00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>格拉苏蒂</string>
		<key>desc</key>
		<string>自动机械，不锈钢，40mm</string>
		<key>image</key>
		<string>watchicon001.png</string>
		<key>price</key>
		<string>988.00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>格拉苏蒂</string>
		<key>desc</key>
		<string>自动机械，不锈钢，40mm</string>
		<key>image</key>
		<string>watchicon001.png</string>
		<key>price</key>
		<string>988.00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>格拉苏蒂</string>
		<key>desc</key>
		<string>自动机械，不锈钢，40mm</string>
		<key>image</key>
		<string>watchicon001.png</string>
		<key>price</key>
		<string>988.00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>格拉苏蒂</string>
		<key>desc</key>
		<string>自动机械，不锈钢，40mm</string>
		<key>image</key>
		<string>watchicon001.png</string>
		<key>price</key>
		<string>988.00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>格拉苏蒂</string>
		<key>desc</key>
		<string>自动机械，不锈钢，40mm</string>
		<key>image</key>
		<string>watchicon001.png</string>
		<key>price</key>
		<string>988.00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>格拉苏蒂</string>
		<key>desc</key>
		<string>自动机械，不锈钢，40mm</string>
		<key>image</key>
		<string>watchicon001.png</string>
		<key>price</key>
		<string>988.00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>格拉苏蒂</string>
		<key>desc</key>
		<string>自动机械，不锈钢，40mm</string>
		<key>image</key>
		<string>watchicon001.png</string>
		<key>price</key>
		<string>988.00</string>
	</dict>
</array>
</plist>
